@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #1a2930;
    background-color: #fafafa;
    font-family: "source sans pro", serif;
}

h1,h2 {
    font-family: "libre franklin", serif;
}

/* header section */
header {
    height: 100px;
    background-color: #fafafa;
}

header h1 {
    float: left;
    font-size: 300%;
    margin-left: 20px;
    line-height: 100px;
    vertical-align: middle;
}

/* nav links */

#nav-menu {
    float: right;
    list-style-type: none;
    text-align: center;
    line-height: 100px;
    margin-right: 20px;
}

#nav-menu li {
    display: inline;
    padding-bottom: 2px;
}

.nav-link {
    display: inline;
    height: 33%;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    font-size: 125%;
}

/*main body content*/

#main-img {
    width: 100%;
    height: 100%;
    position: relative;
}

#main-img > img {
    width: 100%;
    height: auto;
    filter: grayscale(60%);
    filter: brightness(60%);
}

/* text overlay */

#left-text-block {
    color: #fafafa;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 30%;
    padding: 2px 2px 2px 2px;
    font-weight: 600;
    font-size: 120%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

#right-text-block {
    color: #fafafa;
    position: absolute;
    right: 5%;
    top: 5%;
    width: 30%;
    padding: 2px 2px 2px 2px;
    font-weight: 600;
    font-size: 120%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#bottom-text-block {
    color: #fafafa;
    position: absolute;
    bottom: 30%;
    left: 25%;
    width: 50%;
    text-align: center;
    padding: 2px 2px 2px 2px;
    font-weight: 600;
    font-size: 120%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* footer */

footer {
    height: 100px;
    width: 100%;
}

.social-networks {
    width: 100%;
}

.social-networks li {
    font-size: 75px;
    display: inline-block;
    width: 24.5%;
    box-sizing: border-box;
    text-align: center;
}

.icons {
    width: 25%;
    display: inline;
}

.icons a {
    color: inherit;
}

/* sign up */

#img-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#prod-img {
    height: 600px;
    background: url(../images/productivity.avif) no-repeat center center;
    display: block;
    text-align: center;
}

#prod-img form {
    font-size: 120%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

form {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    line-height: 30px;
}

label {
    display: block;
    color: #fafafa;
    font-weight: 1000;
}

input {
    display: block;
}

#submit-button {
    text-align: center;
    outline: none;
    background-color: #fafafa;
    color: #1a2930;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    font-weight: 500;
}

#submit-button:hover {
    background-color: #1a2930;
    color: #fafafa;
    cursor: pointer;
}

/* Todays Hack */

#body-content {
    height: fit-content;
    border: 50px solid #1a2930;
    border-radius: 10px;
    padding: 50px;
}

#content-block1 img, #content-block3 img {
    height: 200px;
    width: auto;
    float: left;
    padding-right: 20px;
    padding-top: 5px;
}

#content-block1 p, #content-block2 p, #content-block3 p {
    font-size: 150%;
}

#content-block2 img {
    height: 200px;
    width: auto;
    float: right;
    padding-left: 20px;
    padding-top: 5px;
}

h2, h3 {
    clear: both;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15PX;
}


/* media query*/

@media screen and (max-width: 768px) {

    header {
        text-align: center;
    }

    header h1 {
        margin: 0;
        float: none;
        clear: both;
        text-align: center;
        line-height: 50px;
    }

    #nav-menu {
        margin: 0;
        float: none;
        clear: both;
        text-align: center;
        line-height: 50px;
    }

    #left-text-block, #right-text-block {
        font-size: 100%;
    }

    #bottom-text-block {
        visibility: hidden;
    }

    .social-networks li {
        width: 49.5%;
        font-size: 50px;
    }

    .icons {
        width: 50%;
    }
}

@media screen and (max-width: 420px){

    #left-text-block, #right-text-block {
        font-size: 80%;
    }

    #body-content {
        border: none;
        padding: 0;
        text-align: center;
    }

    #content-block1 img, #content-block2 img, #content-block3 img {
        width: 70%;
        height: auto;
        text-align: center;
        padding: 0;
    }

    #content-block1 p, #content-block2 p, #content-block3 p {
        font-size: 100%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 560px){
    
    #content-block1 img, #content-block2 img, #content-block3 img {
       float: none;
    }

}

